<section class="ftco-section testimony-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 text-center heading-section  ">
        <h2 class="mb-2">Testimony</h2>
        <span class="subheading">Our Happy Customer Says</span>
      </div>
    </div>
    <div class="row justify-content-center  ">
      <div class="col-md-8">
        <div class="carousel-testimony">
          <div *ngFor="let data of testimonyData" class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url({{data.img}})">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5">{{data.text | readMore}}</p>
                <p class="name">{{data.name}}</p>
                <span class="position">{{data.position}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
