<section class="ftco-intro">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-3 color-1 p-4">
        <h3 class="mb-4">Emergency Cases</h3>
        <p>A small river named Duden flows by their place and supplies</p>
        <span class="phone-number">+ (123) 456 7890</span>
      </div>
      <div class="col-md-3 color-2 p-4">
        <h3 class="mb-4">Opening Hours</h3>
        <p class="openinghours d-flex">
          <span>Monday - Friday</span>
          <span>8:00 - 19:00</span>
        </p>
        <p class="openinghours d-flex">
          <span>Saturday</span>
          <span>10:00 - 17:00</span>
        </p>
        <p class="openinghours d-flex">
          <span>Sunday</span>
          <span>10:00 - 16:00</span>
        </p>
      </div>
      <div class="col-md-6 color-3 p-4">
        <h3 class="mb-2">Make an Appointment</h3>
        <form class="appointment-form" action="" method="" (ngSubmit)="onSubmit(form)" #form="ngForm" >
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <div class="select-wrap">
                  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                  <select id="" class="form-control"
                  ngModel
                  name="services"
                  required
                  >
                    <option value="0">Department</option>
                    <option value="1">Teeth Whitening</option>
                    <option value="2">Teeth CLeaning</option>
                    <option value="3">Quality Brackets</option>
                    <option value="4">Modern Anesthetic</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="icon"><span class="icon-user"></span></div>
                <input type="text" class="form-control" id="appointment_name" placeholder="Name"
                ngModel
                name="name"
                required
                >
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="icon"><span class="icon-paper-plane"></span></div>
                <input type="text" class="form-control" id="appointment_email" placeholder="Email"
                ngModel
                name="email"
                email
                required
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <div class="icon"><span class="ion-ios-calendar"></span></div>
                <input type="text" class="form-control appointment_date" placeholder="Date"
                ngModel
                name="date"
                required
                >
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="icon"><span class="ion-ios-clock"></span></div>
                <input type="text" class="form-control appointment_time" placeholder="Time"
                ngModel
                name="time"
                required
                >
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="icon"><span class="icon-phone2"></span></div>
                <input type="text" class="form-control" id="phone" placeholder="Phone"
                ngModel
                name="phone"
                required
                >
              </div>
            </div>
          </div>

          <div class="form-group">
            <input type="submit" value="Make an Appointment" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
