<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section  ">
        <h2 class="mb-2">Our Service Keeps you Smile</h2>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let ddata of servicesType" class="col-md-3 d-flex align-self-stretch  ">
        <div class="media block-6 services d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="{{ ddata.fa_icon }}"></span>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">{{ ddata.name }}</h3>
            <p>{{ ddata.text }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
