<section class="home-slider">
  <div class="slider-item" style="background-image: url('assets/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text align-items-center">
        <div class="col-md-6 col-sm-12">
          <h1 class="mb-4">Modern Dentistry in a Calm and Relaxed Environment</h1>
          <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          <!-- <p ><a href="#" class="btn btn-primary px-4 py-3">Make an Appointment</a></p> -->
        </div>
      </div>
    </div>
  </div>
</section>
